//colors
$fontColor: #58402C;
$fontColorBlu: #30488F;
$backgroundPink: #FFE7D2;


//Typo
$fontFamily: 'Roboto', sans-serif;
$fontSize: 20px;
$fontSizeH1: 50px;



//size
$innerWidth: 85%;
$heightHeader: 85px;

//mediaquery
$breackpointSmall: 767px;
$breackpointMedium: 1138px;
